.quality-section {
  padding-top: 94px;
}

.quality-container__list {
  display: flex;
}

.quality-container__list-item {
  max-width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.quality__icon-block {
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quality__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 10px;
  margin-top: 30px;
}

.quality__description {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-color);
}
